<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vukoa模板</title>
<link href="/public/bundle.css?5ad93cb87f4931109682" rel="stylesheet"></head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
<script type="text/javascript" src="/public/vendor.js?5ad93cb87f4931109682"></script><script type="text/javascript" src="/public/bundle.js?5ad93cb87f4931109682"></script></body>
</html>