<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vukoa模板</title>
<link href="/public/bundle.css?10459093921cb807d888" rel="stylesheet"></head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
<script type="text/javascript" src="/public/vendor.js?074b1cd217371076b0d1"></script><script type="text/javascript" src="/public/bundle.js?10459093921cb807d888"></script></body>
</html>